<h1>Sortiere die Kisten</h1>
<p>Ziehe die Einträge in der Liste um sie zu sortieren. Klicke auf einen Eintrag um ihn in die Waage zu legen</p>
<div>
    <div class='wrapper'>
        <div class='container' id='bb' [dragula]='"box-bag"' [dragulaModel]='boxes'>
            <div (click)='boxClick($event)' *ngFor='let box of boxes' id='{{box.id}}'><span
                    class='handle'>{{box.id}}</span>Box
                {{box.id}}
            </div>
        </div>
    </div>
    <br/>
    <div class='wrapper'>
        <div class='container' id='slc'>
            <div *ngIf='scaleLeft!=null' id='{{scaleLeft.id}}'>Box {{scaleLeft.id}}</div>
        </div>
        <div><img src={{libraResult}} width='50'/></div>
        <div class='container' id='src'>
            <div *ngIf='scaleRight!=null' id='{{scaleRight.id}}'>Box {{scaleRight.id}}</div>
        </div>
        <div>
            <button (click)="resetScale()">Waage zurücksetzen</button>
            <button (click)='checkOrder()'>{{checkButton}}</button>
        </div>
    </div>

    <div *ngIf='DEBUG'>
        <p>debug:</p>
        <table>
            <tr>
                <th>Boxes</th>
                <th>ScaleLeft</th>
                <th>ScaleRight</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li *ngFor='let box of boxes'>{{box.id}}:{{box.property}}</li>
                    </ul>
                </td>
                <td *ngIf='scaleLeft!=null'>{{scaleLeft.id}}:{{scaleLeft.property}}</td>
                <td *ngIf='scaleRight!=null'>{{scaleRight.id}}:{{scaleRight.property}}</td>
            </tr>
        </table>
    </div>
</div>